body {
    margin: 0px;

}

.img1 {
    display: block;
    width: 1582px;
    height: 789px;

}

.logo {

    position: absolute;
    top: 40px;
    height: 200px;
    width: 500px;
    margin-left: 80px;

}

.container {
    display: flex;
    width: 100%;
    height: 55px;
    justify-content: space-evenly;
}

.container ul {
    display: flex;
    margin-right: 10px;
    margin-top: -48%;
}

.container ul li {
    list-style-type: none;
    margin: 9px;
    padding-left: 20px;
}

.container a {
    text-decoration: none;
    color: #000D10;
    font-family: 'Nunito', sans-serif;
    font-size: 1.3rem;
    font-weight: 400;
}